.Navbar {
    background-color: darkgreen !important;
    height: 85px !important;
}

.li,
.Score,
.HighScore {
    float: left !important;
    font-size: 30px;
    padding-right: 100px !important;
}
